@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff&family=Maven+Pro&family=Righteous&family=Rubik&family=Silkscreen&family=Ubuntu:wght@300&display=swap');

.mystyle{
    background-color: #a99dff31;
    width: 18rem;
    height: 24.4rem;
    border-radius: 0px;
    border: none;
}


.myfont{
    font-family: 'Rubik', sans-serif;
}
/* 
.myfont2{
    font-family: 'Ubuntu',cursive;
    color: black;
} */

.myimagestyle{
    height: 10rem;
    width: 18rem;
    border-radius: 2px;
}

.readmore{
    top: 88%;
    margin-bottom: 8px;
    border-radius: 0%;
    position: absolute;
    
}
.myclass{
    text-align: right;
    font-size:14px;
    padding-top: 3px;
}